.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;

    img {
        margin-left: 40px;
    }

    nav {
        width: 30%;
        margin-right: 40px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
            font-size: 32px;
            font-weight: 700;
            color: #3E3970;
            transition: font-size 0.3s ease;
        }

        a:hover {
            font-size: 36px;
        }
    }
}

@media (max-width:500px) {
    .headerContent {
        flex-direction: column;
        height: 250px;

        img {
            margin: 0;
            width: 200px;
        }

        nav {
            width: 90%;
            margin: 0;
            margin-top: 20px;
        }

        a:hover {
            font-size: 36px;
        }
    }
}